ion-menu ion-content {
  --background: #566a7d;
}

ion-list#main-menu {
  padding: 0;
}

#main-menu ion-item {
  --background: #41556a;
  --color: #ffffff;
  border-bottom: 2px solid #566a7d;
}

#main-menu ion-item.selected {
  --background: #34485e;
  --color: #56b79a;
}

#main-menu ion-thumbnail.menu-icon {
  width: 27px;
  margin-top: 0;
  margin-bottom: 0;
}

#main-menu ion-thumbnail.menu-icon img {
  object-fit: contain;
}

#main-menu ion-label.menu-label {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  line-height: 44px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ion-list#secondary-menu {
  padding: 0;
}

#secondary-menu ion-item {
  --background: #566a7d;
  --color: #ffffff;
}

#secondary-menu ion-item.selected {
  --color: #56b79a;
}

#secondary-menu ion-label.menu-label {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.2em;
  line-height: 44px;
  margin-top: 10px;
  margin-bottom: 10px;
}
